*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: consolas;
 }
 
 body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #0c0c0c;
     display: grid;
     place-items: center;
 }
 button{
     position: relative;
     padding: 19px 36px;
     display: block;
     text-decoration: none;
     text-transform: uppercase;
     overflow: hidden;
     border-radius: 40px;
     border: none;
     
 }
 
 button span{
     position: relative;
     color: #fff;
     font-weight: 600;
     letter-spacing: 8px;
     z-index: 1;
 }
 button .water{
     position: absolute;
     top: -80px;
     left: 0;
     width: 100%;
     height: 200px;
     background: #4973ff;
     box-shadow: inset 0 0 50px rgba(0,0,0,.5);
     transition: .5s;
 
 }
 
 button .water::after,
 button .water::before{
 content: '';
 width: 200%;
 height: 200%;
 position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, -75%);
 background: #fff;
 }
 button .water::before{
     border-radius: 45%;
     background: rgba(20, 20, 20, 1);
     animation: animate 5s linear infinite;
 }
 button .water::after{
     border-radius: 40%;
     background: rgba(20, 20, 20, 0.5);
 animation: animate 10s linear infinite;
 }
 
 button:hover .water{
     top: -120px;
 }
 
 @keyframes animate{
     0%{
         transform: translate(-50%, -75%) rotate(0deg);
     }
    
     100%{
         transform: translate(-50%, -75%) rotate(360deg);
 
     }
 }